<div id="container">
    <h1>Main table for stuff</h1>

    <table>
        <thead>
            <th>KB Article</th>
            <th>Classification</th>
            <th>Status</th>
            <th>Details</th>
            <th>Product</th>
        </thead>
        <tbody>
            <% for ( let i = 0; i < updates.length; i++ ) { %>
            <tr>
                <form id="form_" +i action='/edit' method='POST'>
                    <td><%= updates[i].kb %><%= i %></td>
                    <td><%= updates[i].classification %></td>
                    <td><%= updates[i].status %></td>
                    <td><%= updates[i].details %></td>
                    <td><%= updates[i].product %></td>
                    <td><input type="button" value="Edit"></td>
                </form>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>