<form id="form_add">
    <td><input type="text" id="addKb" name="kbArticle" /></td>
    <td>
        <select id="addClassification">
            <% for ( let j = 0; j < classification.length; j++) {%>
            <option
                value="<%= classification[j].id %>"
                data-id="<%= classification[j].id %>"
                ><%= classification[j].value %></option
            >
            <% } %>
        </select>
    </td>
    <td>
        <select id="addStatus">
            <% for ( let j = 0; j < status.length; j++) {%>
            <option value="<%= status[j].id %>" data-id="<%= status[j].id %>"
                ><%= status[j].value %></option
            >
            <% } %>
        </select>
    </td>
    <td>
        <select id="addProduct">
            <% for ( let j = 0; j < product.length; j++) {%>
            <option value="<%= product[j].id %>" data-id="<%= product[j].id %>"
                ><%= product[j].value %></option
            >
            <% } %>
        </select>
    </td>
    <td>
        <input type="text" id="addPublishDate" name="publishDate" />
	</td>
	<td></td>
    <td><input type="text" id="addDetails" name="details" /></td>

    <td class="icon-cell"><input type="text" id="addUrl" name="URL" /></td>
    <td><input type="button" class="addBtn" value="Add" /></td>
</form>