<div class="show-table">
	<table>
		<thead>
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="kb" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="kb"/>
				</div>
				KB Article 
			</th>
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="classification" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="classification"/>
				</div>
				Classification
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="status" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="status"/>
				</div>
				Status
			</th>
			
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="product" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="product"/>
				</div>
				Product
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="publishDate" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="publishDate"/>
				</div>
				Publish Date
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="researchDate" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="researchDate"/>
				</div>
				Research Date
			</th>
			<th>
				Details
			</th>
			<th> 
				Link
			</th>
			
		</thead>
		<tbody>
			<%- include('./addUpdates') %>
			<% for ( let i = 0; i < updates.length; i++ ) { %>
				<tr id="row<%= updates[i].uid %>" 
					class="show <%= updates[i].Status.toLowerCase() %>" 
					data-classification="<%= updates[i].Classification.toLowerCase() %>"
					data-status="<%= updates[i].Status.toLowerCase() %>"
					data-product="<%= updates[i].Product.toLowerCase().replace(' ','') %>"
					data-publishDate="<%= updates[i].PublishDate %>">
					<td id="kb<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].KBArticle %>
					</td>
					<td id="classification<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Classification %>
					</td>
					<td id="status<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Status %>
					</td>
					<td id="product<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Product %>
					</td>
					<td id="publishDate<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].PublishDate %>
					</td>
					<td id="researchDate<%= updates[i].uid %>" class="updateInfo">
						<% if ( updates[i].ResearchDate ) { %>
							<%= updates[i].ResearchDate %>
						<% } %>
					</td>
					<% if ( updates[i].Details ) { %>
					<td id="details<%= updates[i].uid %>" class="details-icon active-icon-cell" data-id="details<%= updates[i].uid %>">
						<i class="fas fa-info-circle active-icon" data-id="details<%= updates[i].uid %>"></i>
					<% } else { %>
					<td id="details<%= updates[i].uid %>" class="icon-cell details-icon">
						<i class="fas fa-info-circle inactive-icon"></i>
					<% } %>
					</td>
					
					<td class="icon-cell">
						<% if (updates[i].URL) { %>
						<a href="<%= updates[i].URL %>" id="url<%= updates[i].uid %>" target="_blank"
							><i class="fas fa-external-link-alt"></i></a
						>
						<% } else { %>
							<i class="fas fa-external-link-alt inactive-icon"></i>
						<% } %>
					</td>
					<td class="icon-cell">
						<i class="fas fa-edit editBtn" data-uid="<%= updates[i].uid %>"
							value="Edit"></i>
					</td>
				</tr>
				<tr id="details<%= updates[i].uid %>-row" class="details-row" style="display: none;">
					<td colspan="9">
						<div id="details<%= updates[i].uid %>-info">
							<%= updates[i].Details %>
						</div>
					</td>
				</tr>
			<% } %>
			
		</tbody>
	</table>
</div>

<%- include('./footer') %>