<div id="container">
	TODO: Export to csv, date researched / added to DB, search
	<table>
		<thead>
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="kb" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="kb"/>
				</div>
				KB Article 
			</th>
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="classification" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="classification"/>
				</div>
				Classification
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="status" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="status"/>
				</div>
				Status
			</th>
			
			<th>
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="product" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="product"/>
				</div>
				Product
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="url" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="url"/>
				</div>
				Publish Date
			</th>
			<th> 
				<div class="sort">
					<img class="sortImg asc" src="../../../assets/img/asc.png" data-col="url" />
					<img class="sortImg desc" src="../../../assets/img/desc.png" data-col="url"/>
				</div>
				Research Date
			</th>
			<th>
				Details
			</th>
			<th> 
				Link
			</th>
			
		</thead>
		<tbody>
			<%- include('./addUpdates') %>
			<% for ( let i = 0; i < updates.length; i++ ) { %>
				<tr id="row<%= updates[i].uid %>" 
					class="show <%= updates[i].Status.toLowerCase() %>" 
					data-classification="<%= updates[i].Classification.toLowerCase() %>"
					data-status="<%= updates[i].Status.toLowerCase() %>"
					data-product="<%= updates[i].Product.toLowerCase().replace(' ','') %>"
					data-publishDate="<%= updates[i].PublishDate %>">
					<td id="kb<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].KBArticle %>
					</td>
					<td id="classification<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Classification %>
					</td>
					<td id="status<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Status %>
					</td>
					<td id="product<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].Product %>
					</td>
					<td id="publishDate<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].PublishDate %>
					</td>
					<td id="researchDate<%= updates[i].uid %>" class="updateInfo">
						<%= updates[i].ResearchDate %>
					</td>
					<td id="details<%= updates[i].uid %>" class="icon-cell">
						<% if ( updates[i].Details ) { %>
							<i class="fas fa-info-circle"></i>
							<!-- <%= updates[i].Details %> -->
						<% } else { %>
							<i class="fas fa-info-circle inactive-icon"></i>
						<% } %>
					</td>
					<td class="icon-cell">
						<% if (updates[i].URL) { %>
						<a href="<%= updates[i].URL %>" id="url<%= updates[i].uid %>" target="_blank"
							><i class="fas fa-external-link-alt"></i></a
						>
						<% } else { %>
							<i class="fas fa-external-link-alt inactive-icon"></i>
						<% } %>
					</td>
					<td>
						<input
							type="submit"
							class="editBtn"
							data-uid="<%= updates[i].uid %>"
							value="Edit"
						/>
					</td>
				</tr>
			<% } %>
			
		</tbody>
	</table>
</div>
